* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden; background-color:hotpink;
}

/* Style the topnav links */
.topnav a {
    float: left; display: block; color: white; text-align: center; padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color:khaki;
    color: black;
}

/* Style the content */
.content {
    background-color: lightblue; padding: 10px;
    height: 200px; /* Should be removed. Only for demonstration */
}

/* Style the footer */
.footer {
    background-color:bisque; padding: 10px;
}